<!-- <ul>
  <li>https://github.com/anvaka/panzoom</li>
  <li>https://github.com/jsplumb/jsplumb/</li>
</ul> -->
<div class="jtk-demo-canvas canvas-wide dynamic-demo jtk-surface jtk-surface-nopan" id="canvas">
  <div class="window" id="dynamicWindow1">
    <strong>1</strong>
  </div>
  <div class="window" id="dynamicWindow2">
    <strong>2</strong>
  </div>
  <div class="window" id="dynamicWindow3">
    <strong>3</strong>
  </div>
  <div class="window" id="dynamicWindow4">
    <strong>4</strong>
  </div>
  <div class="window" id="dynamicWindow5">
    <strong>5</strong>
  </div>
  <div class="window" id="dynamicWindow6">
    <strong>6</strong>
  </div>
</div>
